/* Global Styles */

body{
    margin: 0;
}

/* Global Styles End */

/* Nav Styles */

.main-nav{
    height: 75px;
    background-color: tomato;
}
.main-nav:hover{
    height: 85px;
    
}
.logo{
    height: 56px;
    padding: 10px;
}
.nav-list{
    float: right;
    list-style-type: none;
}
li{
    color: snow;
    float: left;
    padding: 14px 16px;
    /* fist value applys to top and bottom and the second applys to left and right */
}
li:hover{
    font-size: 30px;
    padding: 5px 16px;
}
.logo:hover{
    height: 66px;

}
center{
    text-align: center;
}

/* End Nav styles */


/* below used for learning float */

/* .box{
    height: 100px;
    width: 200px;
}
.space{
    height: 50px;
}
.red{
    background-color: crimson;
}
.orange{
    background-color: tomato;
}
.yellow{
    background-color: yellow;
  
}
.green{
    background-color: mediumseagreen;
}
.blue{
    background-color: dodgerblue;
}
.purple{
    background-color: darkslateblue;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */